query-interface-workflow.json
{
  "name": "RAG Query Interface",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ask-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "893427c0-d83e-4085-a46a-ba37c20c96ae",
      "name": "Webhook",
      "webhookId": "fbd9d088-3714-44d7-ae25-752d8e3cad4d"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-rag-demo",
          "mode": "list",
          "cachedResultName": "n8n-rag-demo"
        },
        "prompt": "={{ $json.body.question }}",
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        176,
        0
      ],
      "id": "55a78c77-1ce6-4fc8-8409-73285e7107af",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ccR6CIz9N2om1Cmr",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        192
      ],
      "id": "0ae0e555-fa7b-48c7-950c-268b9cafbe2e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "QaKVVcF76r4d9GId",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "O3-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Answer the user's following question: \"{{ $('Webhook').item.json.body.question }}\", using STRICTLY this context: \"{{ $json.pageContent }}\""
            },
            {
              "role": "system",
              "content": "Return your answer In simple, to the point, laymans terms."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        736,
        0
      ],
      "id": "f5b9fe19-4aa0-4b5f-819e-05a080e03c61",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "QaKVVcF76r4d9GId",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "document.pageContent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        528,
        0
      ],
      "id": "9ac4ef0b-7b97-440f-a792-4c3bead8d6cd",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1088,
        0
      ],
      "id": "09a246fa-c5f9-4ffe-a19f-61bd99454fbd",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7176b74b-464e-4aa7-bd9b-f3109478bd2f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93ce59252d904a60ce9248fc210dafa0d83acd560d4d8fa7749696b75f0057dc"
  },
  "id": "fVY5jY10wQkS8vt4",
  "tags": []
}